mixin video(video) 
   div.video-mixin 
        div.video-mixin__thumb
        div.video-mixin__data 
            div.video-mixin__avatar
                img(src=`${video.creator.avatarUrl}`)
            div.video-mixin__desc
                a(href=`/videos/${video.id}`).video-mixin__title=video.title
                a(href=`/users/${video.creator.id}`).video-mixin__username=video.creator.username  
                div.video-mixin__meta 
                    span #{video.meta.views} views
                    span #{video.meta.rating} rating
//- h4 
           
//-         p=video.description
//-         ul
//-             each hashtag in video.hashtags
//-                 li=hashtag 
//-             small=video.createdAt