mixin video(video) 
   div.video-mixin 
        div.video-mixin__thumb(style=`background-image:url(${ "/" + video.thumbUrl});background-size:cover; background-position:center;`)
        div.video-mixin__data 
            div.video-mixin__avatar
                img(src=`${video.creator.avatarUrl}`,crossOrigin)
            div.video-mixin__desc
                a(href=`/videos/${video.id}`).video-mixin__title=video.title
                a(href=`/users/${video.creator.id}`).video-mixin__username=video.creator.username  
                div.video-mixin__meta 
                    span #{video.meta.views} views
                    span #{video.meta.rating} rating
//- h4 
           
//-         p=video.description
//-         ul
//-             each hashtag in video.hashtags
//-                 li=hashtag 
//-             small=video.createdAt