extends base.pug

block content
    div.watch__container
        div#videoContainer.video-container(data-id=video._id)
            div.video
                video(src=video.fileUrl, crossOrigin, autoplay)#video
            div#videoControls.video__controls
                div.video__controls__timeline
                    input(type="range", step='1', value=0, min='0')#timeline
                div.video__controls__buttons    
                    div
                        span#play
                            i.fa-solid.fa-pause
                        span#forward 
                            i.fas.fa-step-forward
                        span#mute
                            i.fas.fa-volume-up
                        div
                            input(type='range', step="0.1", value=0.5, min='0', max='1')#volume 
                        div.video__controls__time
                            span#currentTime 00:00
                            span  / 
                            span#totalTime 00:00
                    div
                        span#fullScreen 
                            i.fas.fa-expand
        div.info-container
            h1.video-title=video.title
            div.video-creator
                if !video.creator.avatarUrl
                    a(href=`/users/${video.creator._id}`).avatar.no-image
                        span=video.creator.lastName.substring(0,1) 
                else
                    a(href=`/users/${video.creator._id}`)   
                        img(src=`${video.creator.avatarUrl}`,crossOrigin).avatar
                div.video-creator__info   
                    a(href=`/users/${video.creator._id}`)=video.creator.username
                    small 123K subscribers
                if loggedIn    
                    if String(loggedInUser._id) !== String(video.creator._id)
                        button.subscribe-btn Subscribe
                else   
                    button(data-button="subscribe").subscribe-btn Subscribe
                    div.login-modal
                        h3 Want to subscribe to this channel?
                        p Sign in to subscribe to this channel.
                        a(href="/join") Sign in
                    
            div.video-buttons
                if !loggedIn
                    button(data-button="like")
                        i.fa-regular.fa-thumbs-up
                        span |
                        span=video.meta.rating
                    button(data-button="share")
                        i.fa-solid.fa-arrow-up-from-bracket
                        span Share
                    button(data-button="save")
                        i.fa-solid.fa-bookmark
                        span Save  
                    button(data-button="more").more
                         i.fa-solid.fa-ellipsis
                    div.login-modal
                        h3 Like this video?
                        p Sign in to make your opinion count.
                        a(href="/join") Sign in
                else
                    button#likeBtn
                        i.fa-regular.fa-thumbs-up
                        span |
                        span#rating=video.meta.rating 
                    if loggedIn        
                        if String(loggedInUser._id) !== String(video.creator._id)
                            button 
                                i.fa-solid.fa-arrow-up-from-bracket
                                span Share
                            button 
                                i.fa-solid.fa-download
                                span Download 
                            button
                                i.fa-solid.fa-bookmark
                                span Save  
                            button.more
                                i.fa-solid.fa-ellipsis
                        else
                            a(href=`${video.id}/edit`) Edit video
                            a(href=`${video.id}/delete`) Delete video    
            div.video-meta 
                strong.video-meta__views #{video.meta.views} views
                small.video-meta__createdAt=moment(video.createdAt).fromNow()
                small.video-meta__hashtags=video.hashtags
                p=video.description

        div.comments-container
            div.comment-form
                if loggedIn
                    if !loggedInUser.avatarUrl
                        a(href=`/users/${loggedInUser._id}`).avatar.no-image
                            span=loggedInUser.lastName.substring(0,1) 
                    else
                        a(href=`/users/${loggedInUser._id}`)
                            img(src=`${loggedInUser.avatarUrl}`,crossOrigin).avatar
                    form#commentForm.comment-form__form
                        textarea(placeholder="Add a comment...")#textarea
                        div.comment-form__btns
                            button(type='button').cancel Cancel
                            button.comment Comment
                else
                    div.avatar.default-user
                        i.fa-solid.fa-user
                    a(href="../login").comment-form__form.to-login
                        textarea(placeholder="Add a comment...")
            div.comment-view
                each comment in video.comments.reverse()
                    div.comment-view__list
                        if !comment.creatorAvatarUrl
                            a(href=`/users/${comment.creator}`).avatar.no-image
                                    span=comment.creatorLastName.substring(0,1) 
                        else
                            a(href=`/users/${comment.creator}`)
                                img(src=`${comment.creatorAvatarUrl}`,crossOrigin).avatar
                        div.comment-view__content
                            span=comment.creatorUsername
                            span=moment(comment.createdAt).fromNow()
                            p.commentText=comment.text
                            //- i.fa-regular.fa-thumbs-up
                            //- span=video.meta.rating
                        if loggedIn    
                            if String(loggedInUser._id) === String(comment.creator) 
                                div.option-modal(data-id=comment._id)  
                                    button.option-modal__btn
                                        i.fa.fa-ellipsis-v
                                    div.option-box
                                        //- button.edit-btn Edit
                                        button.delete-btn Delete

        div.moreVideos-container
            each video in videos
                div.moreVideo
                    div.video-thumbnail(style=`background-image:url(${video.thumbUrl});background-size:cover; background-position:center;`)
                    div.video-desc
                        a(href=`/videos/${video.id}`).video-title=video.title.length > 40? video.title.slice(0,40) + '...' :video.title
                        a(href=`/users/${video.creator._id}`).video-creator=video.creator.username
                        div.video-meta 
                            span #{video.meta.views} views
                            span=moment(video.createdAt).fromNow()
            else 
                li sorry nothing found             
block scripts
    script(src="/static/js/videoPlayer.js")
    script(src="/static/js/watchVideo.js")
    script(src="/static/js/commentSection.js")
        