extends base.pug

block content
    div.watch__container
        div#videoContainer.video__container(data-id=video._id)
            div.video
                video(src="/" + video.fileUrl, autoplay)#video
            div#videoControls.video__controls
                div.video__controls__timeline
                    input(type="range", step='1', value=0, min='0')#timeline
                div.video__controls__buttons    
                    div
                        span#play
                            i.fa-solid.fa-pause
                        span#forward 
                            i.fas.fa-step-forward
                        span#mute
                            i.fas.fa-volume-up
                        div
                            input(type='range', step="0.1", value=0.5, min='0', max='1')#volume 
                        div.video__controls__time
                            span#currentTime 00:00
                            span  / 
                            span#totalTime 00:00
                    div
                        span#fullScreen 
                            i.fas.fa-expand
        div.info__container
            h1.video__title=video.title
            div.creator__container
                a(href=`/users/${video.creator._id}`)
                    img(src=`${video.creator.avatarUrl}`,crossOrigin).avatar
                div.creator__info    
                    a(href=`/users/${video.creator._id}`)=video.creator.username
                    small 123K subscribers
                button.subscribe__btn Subscribe
            div.button__container 
                button
                    i.fa-regular.fa-thumbs-up
                    span 23k
                    span |
                    i.fa-regular.fa-thumbs-down
                button 
                    i.fa-solid.fa-arrow-up-from-bracket
                    span Share
                button 
                    i.fa-solid.fa-download
                    span Download 
                button
                    i.fa-solid.fa-bookmark
                    span Save  
                button
                    i.fa-solid.fa-ellipsis
            div.meta__container 
                strong.views #{video.meta.views} views
                small.createdAt=moment(video.createdAt).calendar()
                small.hashtags=video.hashtags
                p=video.description
        div.comment__container
            if loggedIn
                if !loggedInUser.avatarUrl
                    a(href=`/users/${loggedInUser._id}`).avatar.no-image
                        span=loggedInUser.lastName.substring(0,1) 
                else  
                    img(src=`${loggedInUser.avatarUrl},`,crossOrigin).avatar
                form#commentForm.comment__form
                    textarea(placeholder="Add a comment...")#textarea
                    div.button__container
                        button.cancel Cancel
                        button.comment Comment
            else
                div.avatar.default-user
                    i.fa-solid.fa-user
                a(href="../login").comment__form
                    textarea(placeholder="Add a comment...")#textarea
        div.moreVideos
            div
                each video in videos
                    div.video-thumbnail(style=`background-image:url(${ "/" + video.thumbUrl});background-size:cover; background-position:center;`)
                    div.video-desc
                        a(href=`/videos/${video.id}`).video-title=video.title
                        a(href=`/users/${video.creator.id}`).video-username=video.creator.username  
                        div.video-meta 
                            span #{video.meta.views} views
                            span #{video.meta.rating} rating
                else 
                    li sorry nothing found
        //- div
        //-     p=video.description
        //-     small=video.createdAt
        //- div 
        //-     small Uploaded by 
        //-         a(href=`/users/${video.creator._id}`)=video.creator.username
        //- if loggedInUser
        //-     if String(video.creator._id) === String(loggedInUser._id)
        //-         a(href=`${video.id}/edit`) Edit Video &rarr; 
        //-         br
        //-         a(href=`${video.id}/delete`) Delete Video &rarr; 
block scripts
    script(src="/static/js/videoPlayer.js")
    script(src="/static/js/commentSection.js")
        