extends base.pug

block content
    video(src="/" + video.fileUrl, controls) 
    div
        p=video.description
        small=video.createdAt
    div 
        small Uploaded by 
            a(href=`/users/${video.creator._id}`)=video.creator.username
    if loggedInUser
        if String(video.creator._id) === String(loggedInUser._id)
            a(href=`${video.id}/edit`) Edit Video &rarr; 
            br
            a(href=`${video.id}/delete`) Delete Video &rarr; 