header
    div.header__container
        div.header-start
            button#sidebarIcon.sidebar-icon
                i.fas.fa-bars
            a(href="/")
                i.fab.fa-youtube.header-logo 
                span.header-wetube WeTube
        div.header-search
            form(method="GET" action="/search").search-form
                div
                    input.search-input(placeholder="Search", type="text", name="keyword")
                    i.fas.fa-search.search-icon
                    button(type="submit").search-btn
                        i.fas.fa-search.search-icon
        div.header-user
            button#dropdownBtn
                i.fa.fa-ellipsis-v
            div#dropdown.dropdown-menu
                div.dropdown-menu__links 
                    ul
                        li
                            p.dropdown-menu__link 
                                i.fa-solid.fa-user
                                span Appearance: Device Theme
                        li 
                            p.dropdown-menu__link  
                                i.fa-solid.fa-photo-film
                                span Language: English
                        li 
                            p.dropdown-menu__link 
                                i.fa-solid.fa-user-pen 
                                span Restricted Mode: Off
                        li 
                            p.dropdown-menu__link  
                                i.fa-solid.fa-arrow-right-from-bracket
                                span Location: United States
                div.dropdown-menu__links
                    ul 
                        li 
                            a(href="/").dropdown-menu__link  
                                i.fa-solid.fa-gears
                                span Settings
                div.dropdown-menu__links
                    ul 
                        li 
                            a(href="/").dropdown-menu__link 
                                i.fa-solid.fa-question
                                span Help
                        li 
                            a(href="/").dropdown-menu__link  
                                i.fa-solid.fa-file-circle-exclamation
                                span Send feedback
            if loggedIn
                button#userDropdownBtn.dropdown-user__btn
                    if !loggedInUser.avatarUrl
                        span.avatar.no-image=loggedInUser.lastName.substring(0,1) 
                    else  
                        img(src=`${loggedInUser.avatarUrl},`,crossOrigin).avatar
                div#userDropdown.dropdown-menu   
                    div.dropdown-menu__header
                        if !loggedInUser.avatarUrl
                            div.avatar.no-image
                                span=loggedInUser.lastName.substring(0,1) 
                        else  
                            img(src=`${loggedInUser.avatarUrl}`,crossOrigin).avatar
                        div.dropdown-menu__account
                            h3=loggedInUser.firstName + ' ' +loggedInUser.lastName
                            h4=loggedInUser.email
                            a(href="/users/edit") Manage your account 
                    div.dropdown-menu__links 
                        ul
                            li
                                a(href=`/users/${loggedInUser._id}`).dropdown-menu__link  
                                    i.fa-solid.fa-user
                                    span View profile
                            li 
                                a(href="/videos/upload").dropdown-menu__link  
                                    i.fa-solid.fa-photo-film
                                    span Upload videos
                            li 
                                a(href="/users/edit").dropdown-menu__link 
                                    i.fa-solid.fa-user-pen 
                                    span Edit profile
                            li 
                                a(href="/users/logout").dropdown-menu__link  
                                    i.fa-solid.fa-arrow-right-from-bracket
                                    span Sign out
                    div.dropdown-menu__links
                        ul 
                            li 
                                a(href="/").dropdown-menu__link  
                                    i.fa-solid.fa-gears
                                    span Settings
                    div.dropdown-menu__links
                        ul 
                            li 
                                a(href="/").dropdown-menu__link  
                                    i.fa-solid.fa-question
                                    span Help
                            li 
                                a(href="/").dropdown-menu__link  
                                    i.fa-solid.fa-file-circle-exclamation
                                    span Send feedback
            else
                a(href="/login").signin-btn 
                    i.fa-regular.fa-user 
                    span Sign in
    