extends ../base

block content
    div.form__container
        form(method="POST" enctype="multipart/form-data")
            div.form-header.flex-r.flex-sb.r-center.hr
                h1 Edit Profile
                div.form-header__buttons.flex-r
                    a(href=`/users/${loggedInUser._id}`) ViEW PROFILE
                    button(type="button").cancel-btn CANCEL
                    button(type="submit", value="Update Profile").update-btn UPDATE
            div.form-content
                div.form-content__avatar.flex-c.center
                    if !loggedInUser.avatarUrl
                        div.avatar.no-image.avatar-after
                            span=loggedInUser.lastName.substring(0,1) 
                    else
                        div.flex-r.center.avatar-after
                            img(src=`${loggedInUser.avatarUrl}`,crossOrigin)#avatar.avatar
                    input(type="file",id="avatar", name="avatar", accept="image/*").avatar-input
                    label(for="avatar").avatar-label Edit profile picture
                    div.avatar-overlay.flex-c.center
                if errorMessage
                    span.errorMessage=errorMessage
                div.form-content__input.flex-c
                    div.grid
                        div.flex-c   
                            label(for="firstName") First Name
                            input(placeholder="First Name", name="firstName", type="text", required, value=loggedInUser.firstName)
                        div.flex-c 
                            label(for="lastName") Last Name
                            input(placeholder="Last Name", name="lastName", type="text", required. value=loggedInUser.lastName) 
                    div.flex-c
                        label(for="username") Username
                        input(placeholder="Username", name="username", type="text", required, value=loggedInUser.username)
                    div.flex-c
                        label(for="email") Email
                        input(placeholder="Email", name="email", type="email", required, value=loggedInUser.email)
                    div.flex-c
                        label(for="location") Location
                        input(placeholder="Location", name="location", type="text", required, value=loggedInUser.location) 
                if !loggedInUser.socialOnly
                    a(href="change-password").password-btn CHANGE PASSWORD

block scripts
    script(src="/static/js/form.js")
